
/* shared styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.invisible{
  display: none;
}

.display-flex {
  display: flex;
}

.gradient-btn {
  padding: 12px 16px;
  color: white;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 600px;
  border: none;
  cursor: pointer;
  background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

.btn:hover {
  background-color:#ffffff; 
  transform: translateY(-2px); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.lists li:hover {
  background-color: #FB09B4;
}

.footer-links li:hover {
  background-color:#FB09B4;
}

.btn img{
  vertical-align: middle;
}
/* nav styles */

.nav-container{
    background-color: #1A0B2E;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    border-bottom: #582996 1px solid;
}

.hamburger-icon {
  display: none;
}

 .nav-links a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav-links {
  list-style-type: none;
}
.lists {
  gap: 32px;
}

/* header-styles */
.header-container {
  background-image: url('./assets/hero-bg.png');
  background-size: 100%;
  background-position: center;
  height: 100%;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container #new {
  position: absolute;
  top: 10%;
  left: 57%;
  color: black;
  font-size: 18px;
  font-weight: semi-bold;
  background-color:#00FF88;
  box-shadow: rgba(0, 255, 136, 50%) 0px 3px 27px;
  padding: 8px 16px;
  border-radius: 1000px;
  z-index: 3;
  transition: transform 1s;
}

#new:hover {
  transform: translateY(50px);
}

.header-container .b-image {
  position: absolute;
  top: 10%;
  left: 39%;
  z-index: 1;
}

.header-container .t-image {
  position: absolute;
  top: 22%;
  left: 47%;
  z-index: 2;
  transition: transform 1s;
}
.t-image:hover {
  transform: translateY(-20px);
}

.header-text {
  color: white;
  text-align: center;
  margin: 40px 480px 101px 480px;
}

.header-text h1 {
  font-size: 60px;
  font-weight: 800px;
  margin-top: 390px;
  margin-bottom: 8px;
}

.header-text p {
  font-size: 16px;
  font-weight: 500px;
  opacity: 80%;
}

.green-btn {
  padding: 12px 20px;
  color: #00FF88;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 600px;
  border: #00FF88 2px solid;
  cursor: pointer;
  background-color: transparent;
  margin-left: 16px;
}

/* about-section */

.about-container{
  background-color: #1A0B2E;
}

.about-container .about-texts {
  color: white;
  text-align: center;
  padding: 50px 200px 80px 200px;
}

.about-texts h1 {
  font-size: 48px;
  font-weight: bold;
}

.about-texts p {
  font-size: 16px;
  font-weight: 400px;
  opacity: 80%;
  margin-top: 16px;
  line-height: 2;
  text-align: center;
}

.about-container hr {
  border: 0.5px solid #58299653;
  margin: 0px 200px 0px 200px;
}

.about-summery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 80px;
  padding: 80px 200px 120px 200px;

}

.about-summery h1 {
  font-size: 48px;
  font-weight: 900px;
  color: #00FF88;
  margin-bottom: 0px;
}

.about-summery p {
  font-size: 16px;
  font-weight: 400px;
  color: white;
  opacity: 80%;
  margin-top: 16px;
  text-align: center;
}

/* card-section */
.card-container {
  background-color: #230E3D;
  padding-bottom: 120px;
}

.card-container h1{
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 120px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat (6, 225px);
  gap: 30px;
  margin: 40px 200px 0px 200px;
}

.cards h3 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.cards p {
  font-size: 16px;
  font-weight: 400px;
  color: white;
  opacity: 60%;
  margin-top: 16px;
}

.card-1 {
  grid-column: span 2;
  grid-row: span 4;
  padding: 107px 40px;
  border-radius: 40px;
  background-color: rgba(53, 17, 101, 40%);
  box-shadow: rgba(0, 0, 0, 0.305) 0px 4px 4px;
}

.card-2 {
  grid-column: span 4;
  grid-row: span 2;
  padding: 40px;
  border-radius: 40px;
  background-color: rgba(53, 17, 101, 40%);
  box-shadow: rgba(0, 0, 0, 0.305) 0px 4px 4px;
}
.card-3 {
  grid-column: span 4;
  grid-row: span 2;
  padding: 40px;
  border-radius: 40px;
  background-color: rgba(53, 17, 101, 40%);
  box-shadow: rgba(0, 0, 0, 0.305) 0px 4px 4px;
}
.card-4 {
  grid-column: span 2;
  grid-row: span 2;
  padding: 40px;
  border-radius: 40px;
  background-color: rgba(53, 17, 101, 40%);
  box-shadow: rgba(0, 0, 0, 0.305) 0px 4px 4px;
}

/* featured-episode-section */
.featured-ep-container {
  background-color: #1A0B2E;
  align-items: center;
  justify-content: center;
}

.featured-ep-container h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 120px;
}

.episodes-cards {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 40px 200px 120px 200px;
}

.episodes-cards .featured-video iframe {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: none;
}

.ep-card-h1 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 24px 24px;
}

.ep-card-p {
  color: white;
  font-size: 16px;
  font-weight: 400px;
  opacity: 60%;
  margin: 0px 24px;
  line-height: 24px;
}

.time {
  margin: 12px 24px 24px 24px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.time img {
  height: 20px;
  width: 20px;
}
.time p {
  color: #00FF88;
}

.episode-card-1, .episode-card-2, .episode-card-3 {
  border-radius: 25px;
  background-color: #250D44;
  margin-bottom: 60px;
  box-shadow: black 0px 4px 4px ;
}

/* host-section */

.host-container {
  background-color: #1A0B2E ;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
}

.host-container h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;

}

.host-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 40px 200px 0px 200px;
  background-color: rgba(53, 17, 101, 40%);
  padding: 40px;
  border-radius: 40px;
}

.host-card h3{
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.host-card p {
  font-size: 16px;
  font-weight: 400px;
  color: white;
  opacity: 60%;
  margin-top: 16px;
  line-height: 24px;
}

.host-card .social-icons {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  transition: transform 2s;
}

.social-icons a:hover {
  transform: translateY(-5px);
}

.host-card .social-icons .icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  border: 2px solid #533C72;
  align-items: center;
  justify-content: center;
}

.host-card .social-icons a img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: block;
}

/* footer-section */
.footer-container {
  background-image: url('./assets/footer-bg.png');
  background-size: 100%;
  background-position: center;
  min-height: 50vh;
}

.footer-container .footer-logo {
  text-align: center;
  padding-top: 120px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 32px;
  list-style-type: none;
}

.footer-links li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.733);
  font-size: 16px;  
  line-height: 1;
}

.footer-links li a img {
  vertical-align: middle;
}

.footer-container p {
  color: rgba(250, 250, 250, 0.6);
  text-align: center;
  margin-top: 32px;
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .nav-container{
    padding: 16px 20px;
    justify-content: space-between;
}
  .hamburger-icon {
    display: block;
    cursor: pointer;
    margin: 18px 20px 18px auto;
  }

  .lists {
    display: none;
  }
  .nav-logo img{
    width: 70%;
    height: 70%;
    margin: 20px auto 20px 20px;
  }

  .nav-container .gradient-btn {
    display: none;
  }

  .header-container {
  background-image: url('./assets/Image.png');
  position: relative;
  background-size: cover;
}
.header-container #new {
  position: absolute;
  top: 12%;
  left: 58%;
}

.header-container .b-image {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 15%;
  left: 32%;
  z-index: 1;
}

.header-container .t-image {
  position: absolute;
  height: 80px;
  width: 80px;
  object-fit: contain;
  top: 24%;
  left: 43%;
  z-index: 2;
}

.header-text {
  color: white;
  text-align: center;
  margin: 24px 20px 0px 24px;
}

.header-text h1 {
  margin-top: 150px;
}

/* about-section */

.about-container{
  background-color: #1A0B2E;
}

.about-container .about-texts {
  color: white;
  text-align: center;
  padding: 40px 20px 40px 20px;
}

.about-texts h1 {
  font-size: 32px;
  font-weight: bold;
}

.about-texts p {
  font-size: 16px;
  font-weight: 400px;
  opacity: 80%;
  margin-top: 16px;
  line-height: 1.5;
  text-align: center;
}

.about-container hr {
  border: 0.5px solid #58299653;
  margin: 0px 20px 0px 20px;
}

.about-summery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  padding: 40px 20px 40px 20px;

}

.about-summery h1 {
  font-size: 40px;
}

/* card-section */
.card-container {
  background-color: #230E3D;
  padding-bottom: 24px;
}

.card-container h1{
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 40px 2px 0px 20px;
}
.cards {
  display: block;
  margin: 20px 20px 20px 20px;
  padding: 24px;
}

.cards h3 {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.cards p {
  font-size: 16px;
  font-weight: 400px;
  color: white;
  opacity: 60%;
  margin-top: 16px;
}

.card-1, .card-2, .card-3, .card-4 {
  padding: 24px;
  border-radius: 40px;
  background-color: rgba(53, 17, 101, 40%);
  box-shadow: rgba(0, 0, 0, 0.305) 0px 4px 4px;
  margin-bottom: 24px
}

/* featured-episode-section */
.featured-ep-container {
  background-color: #1A0B2E;
  align-items: center;
  justify-content: center;
}

.featured-ep-container h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 40px;
}

.episodes-cards {
  display: block;
  gap: 30px;
  align-items: center;
  margin: 20px 20px 20px 20px;
}

.ep-card-h1 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 8px 16px;
}

.ep-card-p {
  color: white;
  font-size: 16px;
  font-weight: 400px;
  opacity: 60%;
  margin: 0px 16px;
  line-height: 24px;
}

.time {
  margin: 12px 24px 24px 24px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.time img {
  height: 20px;
  width: 20px;
}
.time p {
  color: #00FF88;
}

.episode-card-1, .episode-card-2, .episode-card-3 {
  border-radius: 25px;
  background-color: #250D44;
  margin-bottom: 60px;
  box-shadow: black 0px 4px 4px ;
}
.episode-card-1 iframe, .episode-card-2 iframe, .episode-card-3 iframe {
  width:100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: none;
}

/* host-section */

.host-container {
  background-color: #1A0B2E ;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
}

.host-container h1 {
  font-size: 32px;
}

.host-card {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
  margin: 0px 20px 0px 20px;
  background-color: rgba(53, 17, 101, 40%);
  padding: 24px;
  border-radius: 40px;
}

.host-card h3{
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.host-card .social-icons {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* footer-section */
.footer-container {
  background-image: url('./assets/footer-responsive.png');
  background-size: 100%;
  background-position: center;
  background-size: cover;
}

.footer-container .footer-logo {
  text-align: center;
  justify-content: center;
  padding-top: 40px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 24px 72px;
}


.footer-container p {
  color: rgba(250, 250, 250, 0.6);
  text-align: center;
  margin-top: 24px;
  font-size: 16px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
}