
/* shared styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.display-flex {
  display: flex;
}

.gradient-btn {
  padding: 12px 16px;
  color: white;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 600px;
  border: none;
  cursor: pointer;
  background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

/* nav styles */

.nav-container{
    background-color: #1A0B2E;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    border-bottom: #582996 1px solid;
}

 .nav-links a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav-links {
  list-style-type: none;
}
.lists {
  gap: 32px;
}

/* header-styles */
.header-container {
  background-image: url('./assets/hero-bg.png');
  background-size: 100%;
  background-position: center;
  height: 100%;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container .b-image {
  position: absolute;
  top: 10%;
  left: 39%;
  z-index: 1;
}

.header-container .t-image {
  position: absolute;
  top: 22%;
  left: 47%;
  z-index: 2;
}

.header-text {
  color: white;
  text-align: center;
  margin: 40px 480px 101px 480px;
}

.header-text h1 {
  font-size: 60px;
  font-weight: 800px;
  margin-top: 390px;
  margin-bottom: 8px;
}

.header-text p {
  font-size: 16px;
  font-weight: 500px;
  opacity: 80%;
}

.green-btn {
  padding: 12px 20px;
  color: #00FF88;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 600px;
  border: #00FF88 2px solid;
  cursor: pointer;
  background-color: transparent;
  margin-left: 16px;
}

/* about-section */

.about-container{
  background-color: #1A0B2E;
}

.about-container .about-texts {
  color: white;
  text-align: center;
  padding: 50px 200px 80px 200px;
}

.about-texts h1 {
  font-size: 48px;
  font-weight: bold;
}

.about-texts p {
  font-size: 16px;
  font-weight: 400px;
  opacity: 80%;
  margin-top: 16px;
  line-height: 2;
  text-align: center;
}

.about-container hr {
  border: 0.5px solid #58299653;
  margin: 0px 200px 0px 200px;
}

.about-summery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 80px;
  padding: 80px 200px 120px 200px;

}

.about-summery h1 {
  font-size: 48px;
  font-weight: 900px;
  color: #00FF88;
  margin-bottom: 0px;
}

.about-summery p {
  font-size: 16px;
  font-weight: 400px;
  color: white;
  opacity: 80%;
  margin-top: 16px;
  text-align: center;
}

/* card-section */
.card-container {
  background-color: #230E3D;
  padding-bottom: 120px;
}

.card-container h1{
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 120px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat (6, 225px);
  gap: 30px;
  margin: 40px 200px 0px 200px;
}

.cards h3 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.cards p {
  font-size: 16px;
  font-weight: 400px;
  color: white;
  opacity: 60%;
  margin-top: 16px;
}

.card-1 {
  grid-column: span 2;
  grid-row: span 4;
  padding: 107px 40px;
  border-radius: 40px;
  background-color: rgba(53, 17, 101, 40%);
  box-shadow: rgba(0, 0, 0, 0.305) 0px 4px 4px;
}

.card-2 {
  grid-column: span 4;
  grid-row: span 2;
  padding: 40px;
  border-radius: 40px;
  background-color: rgba(53, 17, 101, 40%);
  box-shadow: rgba(0, 0, 0, 0.305) 0px 4px 4px;
}
.card-3 {
  grid-column: span 4;
  grid-row: span 2;
  padding: 40px;
  border-radius: 40px;
  background-color: rgba(53, 17, 101, 40%);
  box-shadow: rgba(0, 0, 0, 0.305) 0px 4px 4px;
}
.card-4 {
  grid-column: span 2;
  grid-row: span 2;
  padding: 40px;
  border-radius: 40px;
  background-color: rgba(53, 17, 101, 40%);
  box-shadow: rgba(0, 0, 0, 0.305) 0px 4px 4px;
}

/* featured-episode-section */
.featured-ep-container {
  background-color: #1A0B2E;
  align-items: center;
  justify-content: center;
}

.featured-ep-container h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 120px;
}

.episodes-cards {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 40px 200px 120px 200px;
}

.episodes-cards .featured-video iframe {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: none;
}

.ep-card-h1 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 24px 24px;
}

.ep-card-p {
  color: white;
  font-size: 16px;
  font-weight: 400px;
  opacity: 60%;
  margin: 0px 24px;
  line-height: 24px;
}

.time {
  margin: 12px 24px 24px 24px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.time img {
  height: 20px;
  width: 20px;
}
.time p {
  color: #00FF88;
}

.episode-card-1, .episode-card-2, .episode-card-3 {
  border-radius: 25px;
  background-color: #250D44;
  margin-bottom: 60px;
  box-shadow: black 0px 4px 4px ;
}